body{
    background-color: black;
    margin: 0;
    padding: 0;
}
.landing{
    display: flex;
    justify-content: space-between;
}

/* Header */
header{
    background-color: green;
    height: 103px;
    display: flex;
    flex-direction: row;
}
header .logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 27%;
}
header a{
    text-decoration: none;
    color: black;
    margin-right: 15px;
    font-weight: bold;
    font-size: 22px;
}
/* Izquierda */

/* Saldo */
.izquierda .saldo{
    background-color: gray;
    width: 360px;
    height: 91px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 34px;
    font-weight: bold;
}
.izquierda .saldo img{
    width: 48px;
    height: 48px;
    margin-right: 70px;
}

/* Notificaciones */

.izquierda .notificaciones{
    margin-top: 12px;
    width: 360px;
    height: 256px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.izquierda .notificaciones .partidos-N{
    margin-top: 10px;
    width: 232px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(76, 75, 75);
    border-radius: 14px;
}
.izquierda .notificaciones .partidos-N .escudo img{
    width: 48px;
    height: 48px;
}
.izquierda .partidos-N .resultado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.izquierda .notificaciones .partidos-N .resultado p{
    height: 0.01px;
}
.izquierda .notificaciones .partidos-N .resultado .puntos{
    font-size: 22px;
}

/* Historial */
.historial{
    width: 360px;
    height: 660px;
    background-color: gray;
    color: black;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.partidos-H{
    margin-top: 10px;
    width: 232px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-color: greenyellow;
    border-radius: 14px;
}
.partidos-H.rojo{
    background-color: red;
}
.izquierda .historial .partidos-H .escudo{
    width: 35px;
    height: 35px;
}
.izquierda .historial .partidos-H .partido-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 7px;
    margin-left: 5px;
}
.izquierda .historial .partidos-H .partido-1 .escudo{
    padding-left: 7px;
    padding-right: 17px;
}
.izquierda .historial .partidos-H .partido-1 .s{
    margin-left: 49px;
}
.izquierda .historial .partidos-H .partido-1 .especial{
    margin-left: 42px;
}
.izquierda .historial .partidos-H .partido-1 .esp{
    margin-left: 33px;
}
.izquierda .historial .partidos-H .partido-1 .es{
    margin-left: 29px;
}
.izquierda .historial .partidos-H .partido-1 .e{
    margin-left: 25px;
}
.izquierda .historial .partidos-H .partido-1 .puntos{
    font-size: 22px;
}
.izquierda .historial .partidos-H  .liga{
   display: flex;
   margin-left: 145px;
   align-items: center;
}
.izquierda .historial .partidos-H  .liga span{
   font-size: 27px;
   margin-right: 10px;
}

/* Derecha */

/* Apuestas activas */
.activas{
    width: 360px;
    height: 327px;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.activas .apuesta {
    margin-bottom: 15px;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(194, 194, 194);
}
.activas .apuesta .titulo span{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
.activas .apuesta .titulo{
    padding: 5px;
}
.activas .apuesta .eleccion{
    display: flex;
    flex-direction: row;
    margin-right: 22px;
}
.activas .apuesta .eleccion .bloque{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    height: 40px;
    margin-left: 25px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: gray;
}
.activas .apuesta .eleccion .bloque.verde{
    background-color: greenyellow;
}

/* Apuestas Recomendadas */

.recomendadas{
    margin-top: 12px;
    width: 360px;
    height: 630px;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
}
.recomendadas .apuesta{
    margin-bottom: 15px;
    height: 290px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(194, 194, 194);
}
.recomendadas .apuesta .titulo span{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
.recomendadas .apuesta .titulo{
    padding: 5px;
}
.recomendadas .apuesta .eleccion{
    display: flex;
    flex-direction: row;
    margin-right: 22px;
}
.recomendadas .apuesta .eleccion .bloque{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    height: 40px;
    margin-left: 25px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: gray;
}
.recomendadas .apuesta .eleccion .bloque.verde{
    background-color: greenyellow;
}
.recomendadas .apuesta .actual{
    background-color: gray;
    display: flex;
    justify-content: space-between;
    width: 88%;
    height:30px;
    margin: 10px;
}
.recomendadas .apuesta .actual div{
    padding: 7px;
}
.recomendadas .apuesta .monto{
    display: flex;
    justify-content: space-between;
    width: 88%;
    height: 50px;
}
.recomendadas .apuesta .monto div{
    margin-left: 15px;
}

/* Centro */

/* Desafios Izq*/
.centro{
    display: flex;
    flex-direction: column;
}
.centro .contenedor{
    background-color: gray;
    width: 950px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 8px;
    padding: 25px;
}
.centro .contenedor .desafio{
    background-color: gray;
    width: 500px;
    height: 349px;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    padding: 25px;
}
.centro .desafio p{
    width: 500px;
}
.centro .desafio .izq{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.centro .desafio .izq .bloque{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}
.centro .desafio .izq .bloque .barra{
    background-color: rgb(226, 249, 193);
    margin-left: 25px;
    border-radius: 8px;
    width: 150px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    border: 1px solid rgb(2, 190, 2);
}
.centro .desafio .izq .bloque .interior{
    background-color:rgb(2, 190, 2);
    width: 50%;
    border-radius: 8px;
    height: 20px;
    display: flex;
    justify-content: center;    
}
.centro .desafio .izq .bloque .barra.dos{
    .interior{
        width: 33%;
    }
}
.centro .desafio .izq .bloque .barra.tres{
    .interior{
        width: 67%;
    }
}
/* Desafios */

.centro .desafio .der{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.centro .desafio .der .bloque{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}
.centro .desafio .der .bloque .barra{
    background-color: rgb(226, 249, 193);
    margin-left: 25px;
    border-radius: 8px;
    width: 150px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    border: 1px solid rgb(2, 190, 2);
}
.centro .desafio .der .bloque .interior{
    background-color:rgb(2, 190, 2);
    width: 50%;
    border-radius: 8px;
    height: 20px;
    display: flex;
    justify-content: center;    
}
.centro .desafio .der .bloque .barra.uno{
    .interior{
        width: 17%;
    }
}
.centro .desafio .der .bloque .barra.dos{
    .interior{
        width: 100%;
    }
}
.centro .desafio .der .bloque .barra.tres{
    .interior{
        width: 83%;
    }
}

/* Clasificacion Semanal */
.centro .clasificacion{
    background-color: white;
    margin: 10px;
    margin-top: 20px;
    height: 600px;
    width: 1000px;
}
.centro .clasificacion table{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.centro .clasificacion table thead{
    width: 100%;
    display: flex;

}
.centro .clasificacion table thead tr{
    width: 100%;
    display: flex;
}
.centro .clasificacion table thead tr td{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.centro .clasificacion table tbody tr td{
    padding: 10px;
    width: 20%;
    padding-right: 140px;
}
.centro .clasificacion table tbody tr td img{
    width: 60px;
    border-radius: 50%;
    height: 60px;
}
.centro .clasificacion table tbody tr .persona{  
    display: flex;
    width: 170px;
    align-items: center;
    margin-right: 10px;
    padding-left: 30px;
}
.centro .clasificacion table tbody tr  .puntos{
    width: 120px;
    padding-right: 210px;   
}
.centro .clasificacion table tbody tr  .puntos2{
    width: 120px;
    padding-right: 215px;    
}
.centro .clasificacion table tbody tr td span{
    margin-left: 10px;
    width: 100%;
}

/* Footer */
footer{
    background-color: greenyellow;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 128.1%;
    height: 70px;
}
footer .izq{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
footer .izq span{
    margin-left: 10px;
}
footer .der{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
footer .der img{
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

/*Media Queries*/

/* Tablet */
@media (max-width: 768px) and (min-width: 481px) {
    .login-form {
        width: 60%;
    }

    header {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .landing {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .izquierda, .derecha {
        width: 48%;
        display: flex;
        flex-direction: column;
  
    }

    .centro {
        width: 100%;
        margin-top: 20px;
    }
}

/*Movil*/
@media (max-width: 480px) {
    .login-form {
        width: 80%;
        padding: 20px;
    }

    header {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .landing {
        flex-direction: column;
        align-items: center;
    }
    .izquierda, .centro, .derecha {
        width: 100%;
        align-items: center;
    }
}
/**************************************************************************************************/
/* Animaciones */
.izquierda .notificaciones .partidos-N:hover{
    transform: scale(1.05);
}
.izquierda .historial .partidos-H:hover{
    transform: scale(1.05);
}
.derecha .activas .apuesta:hover{
    transform: scale(1.05);
}
.derecha .recomendadas .apuesta:hover{
    transform: scale(1.05);
}

header nav a:hover{
    transform: scale(1.05);
    color: white;
}

header nav a img:hover{
    transform: scale(1.5);
}

footer .der img:hover{
    width: 40px;
    height: 40px;
    margin-right: 15px;
    transform: scale(1.1);
}

